<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Botanic Lounge Host co</h2>
                <hr class="primary">
                <p>Botanic Lounge 와 이야기하고 싶으신가요? 언제든지 환영합니다.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.instagram.com/botaniclounge/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ contact.instagram }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ contact.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ contact.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="01012345678">
            <i class="fa fa-mobile fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ contact.numbers }}</p>
            </a>
        </div>

    </div>
</section>
